<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span id="top">Made By: </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px">
    <div fxFlex="23%">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image1"></div>
          <mat-card-title>Jerry Zhu</mat-card-title>
          <mat-card-subtitle>Backend Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/jerry.png" alt="Photo of a Shiba Inu" >
        <mat-card-content>
          <p>
            Hi, I'm Jerry Zhu, a full stack developer interested in backend development, machine learning, and algorithms!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button onclick="window.location.href = 'https://github.com/Bobliuuu'">Github</button>
          <button mat-button onclick="window.location.href = 'https://www.linkedin.com/in/jerryzhu2/'">Contact</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="23%">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image2"></div>
          <mat-card-title>Jake Zhang</mat-card-title>
          <mat-card-subtitle>Frontend Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/jake.png" alt="Photo of a Shiba Inu" >
        <mat-card-content>
          <p>
            Hey, I'm Jake, a frontend developer interested in Javascript frameworks!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button onclick="window.location.href = 'https://github.com/trollakatroll'">Github</button>
          <button mat-button onclick="window.location.href = 'https://www.linkedin.com/in/jake-zhang-286867203/'">Contact</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="23%">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image3"></div>
          <mat-card-title>Avni Arora</mat-card-title>
          <mat-card-subtitle>Frontend Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/avni.png" alt="Photo of a Shiba Inu" >
        <mat-card-content>
          <p>
            Hi, I'm Avni, a frontend developer interested in user interface design and marketing!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button onclick="window.location.href = 'https://github.com/avniarora1808'">Github</button>
          <button mat-button onclick="window.location.href = 'https://www.linkedin.com/in/avni-arora-bb895b213/'">Contact</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div fxFlex="23%">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image4"></div>
          <mat-card-title>Jacky Liu</mat-card-title>
          <mat-card-subtitle>Frontend Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/jacky.png" alt="Photo of a Shiba Inu" >
        <mat-card-content>
          <p>
            Hey, I'm Jacky, a full stack developer interested in software engineeering, web development, and graphic design!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button onclick="window.location.href = 'https://github.com/JackyLiu13'">Github</button>
          <button mat-button onclick="window.location.href = 'https://www.linkedin.com/in/jacky-liu13/'">Contact</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<p class="toptext">
  EduTracker was made by passionate students who believe in improving the mental health and learning experience of in person students.
  <br>
  We created this app to help students study better, and have less stress when worrying about marks and performing well on tests.
</p>
