@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* body  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}

.navbar h1 {
color: #333;
position:absolute;
left: 40px;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}
.navbar img{
  position: absolute;
  bottom: 510px;
  left: 40px;
}


/* Showcase */
.showcase {
  height: 300px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase img{
  position: absolute;
  left: 600px;
}
.showcase h1 {
  font-size: 40px;
  color:#000000
}

.showcase p {
  margin: 10px 0;
  color: #000000;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% auto;
  gap: 800px;
}

.showcase-text {
  animation: slideInFromLeft 1s ease-in;
}

.showcase-form .form-control {
  margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

/* boxes */
.boxed {
  border:1px solid;
  color: #d9d7d7;
  fill: #000;
}

/* flip card1 */
body {
  font-family: 'Lato', sans-serif;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  position: absolute;
  left: 650px;
  bottom: 250px;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 80%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #d5cfde;
  color: black;
  transform: rotateY(180deg);
}

/* flip card 2 */
.flip-card2 {
  position: absolute;
  left: 1000px;
  bottom: 100px;
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 900px;
}
.flip-card2:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* flip card3 */
.flip-card3 {
  position: absolute;
  left: 650px;
  bottom: -70px;
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 900px;
}
.flip-card3:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* button  */
.flip-card.button {
  background-color: #9d38c4; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


/* Cli */
.cli{
  position: absolute;
  left: -680px;
  bottom: 140px;

}
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

/* Cloud
.cloud .grid {
  grid-template-columns: 4fr 3fr;
} */

/* Languages */

.languages .flex {
  flex-wrap: wrap;
}

.languages .card {
  text-align: center;
  margin: 18px 10px 40px;
  transition: transform 0.2s ease-in;
}

.languages .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform: translateY(-15px);
}

/* Features */
.features-head img,
.docs-head img {
  width: 200px;
  justify-self: flex-end;
}

.features-sub-head img {
  width: 300px;
  justify-self: flex-end;
}

.features-main .card > i {
  margin-right: 20px;
}

.features-main .grid {
  padding: 30px;
}

.features-main .grid > *:first-child {
  grid-column: 1 / span 3;
}

.features-main .grid > *:nth-child(2) {
  grid-column: 1 / span 2;
}

/* Docs */
.docs-main h3 {
  margin: 20px 0;
}

.docs-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.docs-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px #ccc solid;
}

.docs-main a:hover {
  font-weight: bold;
}

/* Footer */

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#673AB7;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer .social a {
  margin: 0 10px;
  color: white;
}

.fa-github:hover {
  color: #000000;
}

.fa-facebook:hover {
  color: #1773EA;
}

.fa-instagram:hover {
  color: #B32E87;
}

.fa-twitter:hover {
  color: #1C9CEA;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Tablets and under */
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in;
  }

  .showcase-form {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
    grid-row: 1;
  }

  .features-head,
  .features-sub-head,
  .docs-head {
    text-align: center;
  }

  .features-head img,
  .features-sub-head img,
  .docs-head img {
    justify-self: center;
  }

  .features-main .grid > *:first-child,
  .features-main .grid > *:nth-child(2) {
    grid-column: 1;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .showcase-form {
    width: 300px;
  }
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
  }
  
  .card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
  }
  
  .btn-outline {
    background-color: transparent;
    border: 1px #fff solid;
  }
  
  .btn:hover {
    transform: scale(0.98);
  }
  
  /* Backgrounds & colored buttons */
  .bg-primary,
  .btn-primary {
    background-color: var(--primary-color);
    color: #fff;
  }
  
  .bg-secondary,
  .btn-secondary {
    background-color: var(--secondary-color);
    color: #fff;
  }
  
  .bg-dark,
  .btn-dark {
    background-color: var(--dark-color);
    color: #fff;
  }
  
  .bg-light,
  .btn-light {
    background-color: var(--light-color);
    color: #333;
  }
  
  .bg-primary a,
  .btn-primary a,
  .bg-secondary a,
  .btn-secondary a,
  .bg-dark a,
  .btn-dark a {
    color: #fff;
  }
  
  /* Text colors */
  .text-primary {
    color: var(--primary-color);
  }
  
  .text-secondary {
    color: var(--secondary-color);
  }
  
  .text-dark {
    color: var(--dark-color);
  }
  
  .text-light {
    color: var(--light-color);
  }
  
  /* Text sizes */
  .lead {
    font-size: 20px;
  }
  
  .sm {
    font-size: 1rem;
  }
  
  .md {
    font-size: 2rem;
  }
  
  .lg {
    font-size: 3rem;
  }
  
  .xl {
    font-size: 4rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  /* Alert */
  .alert {
    background-color: var(--light-color);
    padding: 10px 20px;
    font-weight: bold;
    margin: 15px 0;
  }
  
  .alert i {
    margin-right: 10px;
  }
  
  .alert-success {
    background-color: var(--success-color);
    color: #fff;
  }
  
  .alert-error {
    background-color: var(--error-color);
    color: #fff;
  }
  
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  
  /* Margin */
  .my-1 {
    margin: 1rem 0;
  }
  
  .my-2 {
    margin: 1.5rem 0;
  }
  
  .my-3 {
    margin: 2rem 0;
  }
  
  .my-4 {
    margin: 3rem 0;
  }
  
  .my-5 {
    margin: 4rem 0;
  }
  
  .m-1 {
    margin: 1rem;
  }
  
  .m-2 {
    margin: 1.5rem;
  }
  
  .m-3 {
    margin: 2rem;
  }
  
  .m-4 {
    margin: 3rem;
  }
  
  .m-5 {
    margin: 4rem;
  }
  
  /* Padding */
  .py-1 {
    padding: 1rem 0;
  }
  
  .py-2 {
    padding: 1.5rem 0;
  }
  
  .py-3 {
    padding: 2rem 0;
  }
  
  .py-4 {
    padding: 3rem 0;
  }
  
  .py-5 {
    padding: 4rem 0;
  }
  
  .p-1 {
    padding: 1rem;
  }
  
  .p-2 {
    padding: 1.5rem;
  }
  
  .p-3 {
    padding: 2rem;
  }
  
  .p-4 {
    padding: 3rem;
  }
  
  .p-5 {
    padding: 4rem;
  }
 
