<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" href="css/utilities.css"> -->
    <link rel="stylesheet" href="collab.component.css">

    <title>EduTracker | Resource hub for students</title>
</head>
<body>
    <!-- Navbar -->
    <div class="navbar">
        <div class="container flex">
            <h1 class="logo">EduTracker | Resource hub for students</h1>
            <h2>Collaborative Learning</h2>

        </div>
    </div>

    <ul id="hexGrid">
        <li class="hex">
          <a class="hexIn" href="#">
            <img src="assets/gc.png" alt="gc" style="height: 80%; margin-top:50px"/>
            <h1>Google Classroom</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </li>
        <li class="hex">
          <a class="hexIn" href="#">
            <img src="assets/zoom.png" alt="zoom" style="height:80%;" />
            <h1>Zoom</h1>
            <p>des</p>
          </a>
        </li>
        <li class="hex">
          <a class="hexIn" href="#">
            <img src="assets/jamboard.png" alt="jamboard" style="height: 70%; padding-top:50px;"/>
            <h1>Jamboard</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </li>
        <li class="hex">
          <a class="hexIn" href="#">
            <img src="assets/peardeck.png" alt="peardeck" style="width:70%; height:70%"/>
            <h1>Peardeck</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </li>
        <li class="hex">
          <a class="hexIn" href="#">
            <img src="assets/kahoot.jpg" alt="Kahoot" style="width:70%; height:70%"/>
            <h1>Kahoot!</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </li>
        <li class="hex">
          <a class="hexIn" href="#">
            <img src="assets/quizlet.png" alt="Quizlet" />
            <h1>Quizlet</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </li>
        <li class="hex">
          <a class="hexIn" href="#">
            <img src="assets/gather.png" alt="Gathertown" style="margin-top:60px; width:90%; height:70%;"/>
            <h1>Gathertown</h1>
            <p>Some sample text about the article this hexagon leads to</p>
          </a>
        </li>
      </ul>
      <a id="fork" target="_blank" href="https://github.com/web-tiki/responsive-grid-of-hexagons">Learn More About Us</a>