.flex-container{
  min-width: 300px;
  padding:20px;
}

.flex-item {
  padding:20px;
  text-align:center
}

.submit-button {
  margin: 30px;
}

.flex-item:nth-child(1) {
  padding:20px;
  text-align: center;
}

.flex-item {
  padding:20px;
}

.card-item {
  margin: 10px;
}

.submit-button {
  margin: 30px;
}
>>>>>>> Stashed changes
