<div class="container">
  <mat-toolbar color="primary" class="toolbar">
    <span class="spacer"></span>

    <a mat-flat-button href='home' class="app-name" color="primary">
      <img class="logo" src="/assets/logo.png">
      EduTracker
    </a>
    <span class="spacer"></span>
    <a mat-flat-button href='home' class="toolbar-button" color="primary">Home</a>
    <a mat-flat-button href='predict' class="toolbar-button" color="primary">Predictions</a>
    <a mat-flat-button href='resources' class="toolbar-button" color="primary">Resources</a>
    <a mat-flat-button href='about' class="toolbar-button" color="primary">About</a>
    <span class="spacer"></span>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>


