<section class="home">
  <div class="bounds">
    <div fxLayout="row" fxLayoutAlign="center center" id="head-row">

      <div fxFlex="35" fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/home_monkey.png" alt="Monkey" id="monkey-home">
      </div>

      <div fxFlex="35" fxLayout="column" fxLayoutAlign="start">
        <h1>Edu-Tracker</h1>
        <p>If you're looking for a tool which can help you in setting a grading scale, this test grade calculator is a must. Also known as test score calculator or teacher grader, this tool quickly finds out the grade and percentage on the basis of the number of points and wrong (or correct) answers. Are you still wondering how to calculate test score? Check out our predictions tab!
        </p>
      </div>

    </div>
  </div>
</section>

<section class="explain">
  <div class="bounds">

    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="spacer"></div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="35" fxLayout="column" fxLayoutAlign="center center">
        <h2>How Does It Work</h2>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="55" fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/graf.png" alt="Monkey" width="600px">
        <p>Using our grading model, we trained it using data that was randomly generated. Using these randomly generated values we had skewed it to help us determine how to scale projected grades for students</p>
      </div>
    </div>

  </div>
</section>


<section class="resource">
  <div class="bounds">

    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="35" fxLayout="column" fxLayoutAlign="center center">
        <h2>Resources</h2>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="55" fxLayout="column" fxLayoutAlign="center center">
        <p>Using our grading model, we trained it using data that was randomly generated. Using these randomly generated values we had skewed it to help us determine how to scale projected grades for students</p>
      </div>
    </div>

  </div>
</section>

<footer>
  <p>Edu-Tracker Group</p>
  <p><a href="mailto:">edutracker@notrealemail.com</a></p>
</footer>
